body {
    font-family: Arial, sans-serif;
    background: #111;
    color: #eee;
    padding: 0;
    margin: 0;
}

header {
    background: #222;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 28px;
}

.description {
    padding: 20px;
    text-align: center;
}

p {
    font-size: 18px;
}
.movies {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.movie-card {
    background: #222;
    padding: 15px;
    border-radius: 8px;
    width: 150px;
    text-align: center;
}

.movie-card h2 {
    margin-bottom: 10px;
    font-size: 20px;
}